{% extends 'base.html' %}
{% block content %} 
<!-- Section 1 New Release Books Start -->
<div class="container">
    <div class="d-flex flex-row library px-5">
        <div class="pt-5 col-4" style="margin-right: 250px; margin-top: 50px; margin-left: 50px;">
            <h2 style="font-weight: 900;">New Release Books</h2>
            <p  style="font-weight: 400; font-size: 23px; height: 5%">How A Man Turns Evil</p>
            <p style="color: rgba(12, 11, 11, 0.703); height: 5%">Jordan Preston</p>
            <p  style="font-weight: lighter; color: rgba(0, 0, 0, 0.631);" >A gripping novel that explores the intricate 
                transformation of a man from virtue to malevolence, 
                unraveling the dark forces that shape his descent into evil, 
                compelling readers to introspection.
            </p>
            
            <img src="../../static/images/library/5 stars-2.png" alt="" 
                 style="width: 100px; height: 5%;" 
                 >
                 101/6000 <span style="font-weight: lighter; color: rgba(0, 0, 0, 0.631);">reviews</span>
                 <br>
                 <button class="btn mt-2 col-3" type="submit" style="background-color:rgb(29, 57, 29); color: white; font-size: small;">Add To Cart <img src="../../static/images/library/cart.png" alt="" style="width: 25px; height: 25px;">
                </button>
            
        </div>
        <div class="mt-5 bg-light border rounded" style="width: 350px; height: 350px";>
            <img src="../../static/images/library/new_book.png" alt="" style="width: 200px; height: 300px"; class="mx-5 pt-4 px-4">
        </div>
    </div>

<!-- Section 1 New Release Books End -->

<!-- Secion 2 Book Search Start-->
    <div class="d-flex flex-row justify-content-between shadow rounded col-10" style="margin-left: 100px; margin-top: 100px;">
        <div class="p-2 g-5 col-3" style="width: fit-content; height: 2%;">
        Book Title: <input class="form-control" type="email" placeholder="type here" aria-label="Enter Your Email" style="width: 250px; height:25px; margin-top: 9px; font-size: small; background-color: rgba(241,241,241,255)" >
        </div>
        <div class="p-2 col-3" style="width: fit-content;">
        Author Name:<input class="form-control" type="email" placeholder="type here" aria-label="Enter Your Email" style="width: 250px; height:25px; margin-top: 9px; font-size: small; background-color: rgba(241,241,241,255);" >
        </div>
        <div class="p-2 col-3"  style="width: fit-content;">
        ISBN:<input class="form-control" type="email" placeholder="type here" aria-label="Enter Your Email" style="width: 250px; height:25px; margin-top: 9px; font-size: small; background-color: rgba(241,241,241,255);outline: none;" >
        </div>
        <div class="p-2 col-1" style="margin-top: 8px;"><button class="btn mt-4" type="submit" style="background-color:rgb(29, 57, 29); color: white; font-size: small; float: left; width:70%; height: 25px;">Search </button>
        </div>
    </div>
  <!-- Secion 2 Book Search End -->
  <!-- Secion 3 Trending Books Start -->
    <div class="d-flex flex-row justify-content-center mb-3 mt-3" style="padding-top: 100px ;">
        <h3 style="font-weight: 900;">
            Trending Books
        </h3>
    </div>
    <div class="d-flex flex-row justify-content-center">
        <div class="p-2 border rounded mx-5" >
            <img src="../../static/images/books/Psychology of Money.png" alt="" class="w-100 rounded">
            <p class="pt-3" style="font-size: large; text-align: center; height: 5%">Psychology of Money</p>
            <p style="font-size: small; text-align: center; height: 3%">
            By: Morgan Housel
            </p>
            <img src="../../static/images/library/5stars.png" alt="" class="w-50 mx-5">
        </div>
        <div class="p-2 border rounded mx-5">
            <img src="../../static/images/books/Life On Our Planet.png" alt="" class="w-100 rounded" >
            <p class="pt-3" style="font-size: large; text-align: center; height: 5%">
                A Life On Our Planet 
            </p>
            <p style="font-size: small; text-align: center; height: 3%">
                By: David Attenborough
            </p>
            <img src="../../static/images/library/4stars.png" alt="" class="w-50 mx-5">
        </div>
        <div class="p-2 border rounded mx-5">
            <img src="../../static/images/books/Illusion of choice.png" alt="" class="w-100 rounded">
            <p class="pt-3" style="font-size: large; text-align: center; height: 5%;">The Illusion Of Choice</p>
            <p style="font-size: small; text-align: center; height: 3%">
                By: Richard Shotton
            </p>
            <img src="../../static/images/library/5stars.png" alt="" class="w-50 mx-5">
        </div>
        <div class="p-2 border rounded mx-5 ">
            <img src="../../static/images/books/The Pain Habit.png" alt="" class="w-100 rounded">
            <p class="pt-3" style="font-size: large; text-align: center;  height: 5%">Pain Habit</p>
            <p style="font-size: small; text-align: center; height: 3%">
                By: Drew Coverdale
            </p>
            <img src="../../static/images/library/4stars.png" alt="" class="w-50 mx-5">
        </div>
    </div>
    <div class="d-flex flex-row pt-2 align-items-end ">
        <div class="p-1  border rounded mx-5 col-2 d-flex justify-content-between">
            <div class="col d-flex justify-content-center">
                <span style="font-size: xx-small; "><img src="../../static/images/library/download.png" alt="" style="width: 20px; height: 20px;">392</span>
            </div>
            <div class="col d-flex justify-content-center">
                <span style="font-size: xx-small;"><img src="../../static/images/library/heartoutline.png" alt="" style="width: 20px; height: 18px;" class="">200</span>
            </div>
            <div class="col d-flex justify-content-center">
                <span style="font-size: xx-small;"><img src="../../static/images/logo/logo.png" alt="" style="width: 30px; height: 20px;" >600</span>  
            </div>  
        </div>
        <div class="p-1  border rounded col-2 d-flex" style="margin-left: 53px;">
            <div class="col d-flex justify-content-center">
                <span style="font-size: xx-small; "><img src="../../static/images/library/download.png" alt="" style="width: 20px; height: 20px;">392</span>
            </div>
            <div class="col d-flex justify-content-center">
                <span style="font-size: xx-small;"><img src="../../static/images/library/heartred.png" alt="" style="width: 20px; height: 18px;" class="">200</span>
            </div>
            <div class="col d-flex justify-content-center">
                <span style="font-size: xx-small;"><img src="../../static/images/logo/logo.png" alt="" style="width: 30px; height: 20px;" >600</span>  
            </div>  
        </div>
        <div class="p-1  border rounded col-2 d-flex" style="margin-left: 103px;">
            <div class="col d-flex justify-content-center">
                <span style="font-size: xx-small; "><img src="../../static/images/library/download.png" alt="" style="width: 20px; height: 20px;">392</span>
            </div>
            <div class="col d-flex justify-content-center">
                <span style="font-size: xx-small;"><img src="../../static/images/library/heartoutline.png" alt="" style="width: 20px; height: 18px;" class="">200</span>
            </div>
            <div class="col d-flex justify-content-center">
                <span style="font-size: xx-small;"><img src="../../static/images/logo/logo.png" alt="" style="width: 30px; height: 20px;" >600</span>  
            </div> 
        </div>
        <div class="p-1  border rounded col-2 d-flex" style="margin-left: 103px;">
            <div class="col d-flex justify-content-center">
                <span style="font-size: xx-small; "><img src="../../static/images/library/download.png" alt="" style="width: 20px; height: 20px;">392</span>
            </div>
            <div class="col d-flex justify-content-center">
                <span style="font-size: xx-small;"><img src="../../static/images/library/heartred.png" alt="" style="width: 20px; height: 18px;" class="">200</span>
            </div>
            <div class="col d-flex justify-content-center">
                <span style="font-size: xx-small;"><img src="../../static/images/logo/logo.png" alt="" style="width: 30px; height: 20px;" >600</span>  
            </div>         
        </div>
    </div>
  <!-- footer start -->
    <div class="d-flex text-light pt-5 pb-5 justify-content-around flex-row section1" style="margin-top: 125px;">
        <div class="p-2 col-3 mx-5">
       <h3>Readerly
        <img src="../static/images/logo/book icon.png" alt="" style="width: 30px; height: auto;"></h3>
        
            <p class="col-10">Innovative digital library company: Access diverse content online; empower learning, research, and exploration seamlessly for users worldwide.</p>
        
    </div>
    <div class="p-2 mt-2 ">
        <h5 class="pb-2">Support</h5>
        <p>Feature Requests</p>
        <p>Contact Support</p>
        <p>Account Recovery</p>
    </div>
    <div class="p-2 mt-2">
        <h5 class="pb-2">Books</h5>
        <p>All-Time Best Sellers</p>
        <p>Book Club Selections</p>
        <p>Recommended Reads</p>
    </div>
    <div class="p-2 mt-2">
        <h5 class="pb-2">Authors</h5>
        <p>Personal Blogs</p>
        <p>Published Authors</p>
        <p>Influencers</p>
    </div>  
  </div>
<!-- Footer End -->  
</div>
<!-- Container End -->
{% endblock %}