<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="static/css/main.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:&display=swap" rel="stylesheet">
<title>Readerly</title>
</head>
<body style="background-color:white;">
    <div class="container">
    <nav class="navbar navbar-expand-sm  navbar-custom  navbar-static-top">
        <div class="container">
            <a href= "{{ url_for('site.home') }}"
            class="navbar-brand  navbar-text px-5">Readerly
            <img src="../static/images/logo/book icon.png" alt="" style="width: 30px; height: auto;">
            </a>
            <button 
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navmenu"
            >
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                
                
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a href="{{ url_for('site.profile') }}" 
                    class="nav-link  navbar-text">
                    <button class="btn btn-outline-light" 
                    type="button" style="width: 5em;">Profile</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('auth.logout') }}" 
                    class="nav-link  navbar-text">
                    <button class="btn btn-outline-light" 
                    type="button" style="width: 5em;">Logout</button>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{{ url_for('auth.signin') }}" 
                    class="nav-link  navbar-text">
                    <button class="btn btn-outline-light" 
                    type="button" style="width: 5em;">Login</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('auth.signup') }}" 
                    class="nav-link  navbar-text">
                    <button class="btn btn-outline-light" 
                    type="button" style="width: 5em;">Sign Up</button>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
 </nav>
</div>
<!-- End of Nav -->
{% block content %}
{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>